<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
           font-family: initial;
           background-color:rgb(82, 174, 36);
           background: radial-gradient(circle,rgb(188, 54, 9) 0%,rgb(86, 224, 59) 100%);
           font-size: 1.2em;
           color: aliceblue;
           border: 10px;
       }

 form{
   color: rgb(13, 13, 13);
   width:fit-content;
   padding: 5px;
   box-shadow: -20px 10px 20px rgb(67, 61, 61);
   border-radius: 10px;
   background-color: rgb(43, 211, 223);
 }

   </style>
</head>
<body>
    <center>
        <h1>Class base views inserting</h1>
        <form method="POST">
            {% csrf_token %}
                {{SFO.as_p}}
            <input type="submit" value="Cbv_insert">
        </form>
    </center>
</body>
</html>